/*
Author: W3layout
Author URL: http://www.smallseashell.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}

html, body{
    font-family: 'OpenSans-Regular';
    font-size: 100%;
    background: url(../images/bg.jpg) no-repeat 0 0;
    background-size: cover;
}

body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

body {
    padding-top:0;
}

h1.b1,h2.b2,h3.b3 {
    margin-bottom:25px;
    display: block;
}

a:focus {
    outline: thin dotted;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    text-decoration:none;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(bootstrap/fonts/OpenSans-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(bootstrap/fonts/OpenSans-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(bootstrap/fonts/OpenSans-Semibold.ttf) format('truetype');
}

@font-face {
    font-family:'OpenSans-ExtraBold';
    src: url(bootstrap/fonts/OpenSans-ExtraBold.ttf) format('truetype');
}

/*-- header_top --*/
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        background-color: #f5f5f5;
    }
}

.sidebar{
    background:#fff;
    top: 0;
    padding-right:0;
    padding-top: 41px;
}

.sidebar_top {
    text-align: center;
}

.hide1{display:block;}

.main {
    width: 74.333333%;
}

.sidebar h1 a span{
    color:#eae655;
}

span.menu {
    display:none;
}

.top-menu ul li{
    display:block;
}

.top-menu ul li a{
    display:block;
    color:#333;
    padding-bottom:1.5em;
    font-family: 'OpenSans-Bold';
    font-size:0.9em;
    text-align:center;
}

.top-menu ul li.active a,.top-menu ul li a:hover{
    color:#83d5d1;
    text-decoration:none;
}

.main{
    padding:0;
}

.main {
    padding: 60px 0 25px 2%;
}

.main {
    margin-left: 16.666667%;
    width: 81.333333%;
}

@media (max-width: 1080px){
    .sidebar {
        width: 21%;
    }
    .main {
        margin-left: 21.666667%;
        width: 78.333333%;
    }
}

.top-menu li{position:relative;}

.top-menu li:hover > ul {
    visibility: visible;
    opacity: 1;

}

.top-menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 1px;
    background-color: #2b303a;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.top-menu li ul {
    opacity: 0;
    height: 0;
}

.top-menu li ul li{background:#eee;}

.top-menu li ul li a{background:#eee; color:#333 !important;}

.sidebar h1 a{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1em;
    display: inline-block;
    text-decoration: none;
    color: #83d5d1;
    font-family: 'OpenSans-ExtraBold';
    background-color: #333;
    padding: 15px 14px;
    border-radius: 6px;
}

.sidebar h1 a span{
    color:#eae655;
}

.top-navigation{display:none;}

/*--responsive--*/
@media (max-width: 1330px){
    .sidebar h1 a {
        margin-left: 7px;
        font-size: 1.1em;
        padding: 13px 14px;
    }
}

@media (max-width: 1280px){
    .sidebar h1 a {
        font-size: 1em;
    }

}

@media (max-width: 1440px){
    .main{margin-left:18%;
        width: 80.333333%;
        padding: 60px 0 25px 3%;}
    .sidebar {
        width: 19%;
    }

}

@media (max-width: 1200px){
    .sidebar h1 a {
        font-size: 0.9em;
    }
    .sidebar {
        width: 20%;

    }
    .main{margin-left:19%;
        width: 78.333333%;
        padding: 60px 0 25px 48px;}
}

@media (max-width: 1080px){
    .sidebar {
        width: 22%;

    }
    .main{margin-left:21%;    width: 77.333333%;
        padding: 60px 0 25px 25px;}
    .sidebar h1 a {
        font-size: 1em;
    }
}

@media (max-width: 960px){
    .sidebar h1 a {
        margin-left: 6px;
        font-size: 0.875em;
        padding: 12px 12px;
    }
}

@media (max-width: 900px){
    .sidebar h1 a {
        margin-left: 10px;
    }.main{margin-left:25%;    width: 73.333333%;
         padding: 60px 0 25px 2%;}
    .sidebar h1 a {
        font-size: 0.875em;
    }
    .sidebar h1 a {
        padding: 12px 14px;
    }
    .sidebar {
        width: 25%;
    }
}

@media (max-width: 860px){
    .top-navigation{display:none;}
    .sidebar h1 a {
        margin-left: 4px;
        font-size: 0.8em;
        padding: 10px 10px;
    }
}

@media (max-width: 800px){
    .sidebar h1 a {
        font-size: 0.8em;
    }
    .sidebar {
        width: 25%;
    }
}

@media (max-width: 768px){
    .sidebar{width: 100%;
        position: inherit;
        background: none;
        padding: 0;}
    .top-menu li ul{display:none;}
    .top-navigation {
        display: block;
        padding:0 20px;
        cursor: pointer;
        font-size: 2em;
        color: #FFF;
        position: relative;
        text-align: center;
        margin: 0 auto;
        background-color: #333;
    }
    .drop-navigation{display:none;}
    .t-menu {
        float: left;
        font-size: .7em;
        padding-top: 7px;
    }
    .t-img {
        float: right;
    }
    .sidebar h1 a {
        margin-bottom: 0;
    }
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 1em;
    }
    .main{  width: 97.333333%;
        padding: 25px 0 25px 2%; margin-left:0;}
    .hide1{display:none;}
    .show{display:block;}
}

@media(max-width:640px){
    .sidebar h1 a {
        margin-bottom: 0;
    }
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 1em;
    }
}

@media(max-width:480px){
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 0.8em;
    }
}

@media(max-width:375px){
    .sidebar h1 a {
        width: 42%;
    }
}

@media(max-width:320px){
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 50%;
    }
}