/*
Author: W3layout
Author URL: http://www.smallseashell.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}

html, body{
    font-family: 'OpenSans-Regular';
    font-size: 100%;
    background: url(../images/bg.jpg) no-repeat 0 0;
    background-size: cover;
}

body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

body {
    padding-top:0;
}

h1.b1,h2.b2,h3.b3 {
    margin-bottom:25px;
    display: block;
}

a:focus {
    outline: thin dotted;
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
    text-decoration:none;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(bootstrap/fonts/OpenSans-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(bootstrap/fonts/OpenSans-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(bootstrap/fonts/OpenSans-Semibold.ttf) format('truetype');
}

@font-face {
    font-family:'OpenSans-ExtraBold';
    src: url(bootstrap/fonts/OpenSans-ExtraBold.ttf) format('truetype');
}

/*-- header_top --*/
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        background-color: #f5f5f5;
    }
}


.sidebar-error .icon-right{display:none;}
.sidebar{
    background:#fff;
    top: 0;
    padding:40px 1%;
}

.hide1{display:block;}

.main {
    width: 74.333333%;
}

.sidebar h1 a span{
    color:#eae655;
}

span.menu {
    display:none;
}

.top-menu ul li{
    display:block;
}

.sidebar-collapsed .top-menu ul li a{
    display:block;
    text-align:center;}
.top-menu ul li a{
    color:#333;
    padding:15px;
    font-family: 'OpenSans-Bold';
    font-size:0.9em;
}
.icon-right{    position: absolute;
    margin-top: 2px;
    right:0;
    font-size: 1em;}

.top-menu ul li.active a,.top-menu ul li a:hover{
    color:#83d5d1;
    text-decoration:none;
}

.main{
    padding:0;
}

.main {
    padding: 0 2% 60px 2%;
}

.main {
    margin-left: 14%;
    width: 84%;
    margin-top: 60px;
    margin-bottom: 31px;
    border-radius: 10px;
    margin-right: 2%;
}

@media (max-width: 1080px){

    .main {
        margin-left: 21.666667%;
        width: 78.333333%;
    }
}

.top-menu li{position:relative;}

.top-menu li:hover > ul {
    visibility: visible;
    opacity: 1;

}

.top-menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: 1px;
    background-color: #2b303a;
    opacity: 0;
    transition: opacity 0.1s linear;
}

.top-menu li ul {
    opacity: 0;
    height: 0;
    width:100%;
}

.top-menu li ul li{background:#eee;}
.sidebar-error .top-menu li ul li{padding:15px 0;}
.top-menu li ul li{background:#fff;}

.sidebar h1 a{
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 1em;
    display: inline-block;
    text-decoration: none;
    color: #83d5d1;
    font-family: 'OpenSans-ExtraBold';
    background-color: #333;
    padding: 15px 14px;
    border-radius: 6px;
}

.sidebar h1 a span{
    color:#eae655;
}

.top-navigation{display:none;}
.sidebar-error .icons{display: block;font-size:1.5em;}
.sidebar_top .icons{color:#333;}
.sidebar-error .success-text{display:none;}
.sidebar-collapsed .icons{
    margin-bottom:10px;display:block; font-size:1.3em;}

.sidebar-error .main{margin-left: 6%;width: 92%;}
/*--responsive--*/




@media (max-width: 1440px){
    .main{    margin-left: 15%;
        width: 82%;
        padding: 3% 0 25px 3%;}



}
@media (max-width: 1330px){
    .main{    margin-left: 16%;
        width: 82%;
        padding: 3% 0 25px 3%;}



}
@media (max-width: 1200px){


    .main{    margin-left: 17%;
        width: 81%;
        padding: 0 2% 25px 2%;}
}

@media (max-width: 1080px){

    .main{    margin-left:19%;
        width: 79%;
        padding: 0 2% 25px 2%;}

}



@media (max-width: 930px){

    .main{
        margin-left: 21%;
        width: 77%;
        padding: 0 2% 25px 2%;
    }


}

@media (max-width: 860px){
    .top-navigation{display:none;}

    .main{
        margin-left: 22%;
        width: 76%;
        padding: 0 2% 25px 2%;
    }
}

@media (max-width: 800px){
    .sidebar h1 a {
        font-size: 0.8em;
    }

}


@media (max-width: 768px){
    .sidebar-error .sidebar,.sidebar-collapsed .sidebar{width: 100%;
        position: inherit;
        background: none;
        padding: 0;}
    .sidebar-error .top-menu li ul,.sidebar-collapsed .top-menu li ul{display:none;}
    .sidebar-error .top-navigation,.sidebar-collapsed .top-navigation {
        display: block;
        padding:0 20px;
        cursor: pointer;
        font-size: 2em;
        color: #FFF;
        position: relative;
        text-align: center;
        margin: 0 auto;
        background-color: #333;
    }
    .sidebar-error .drop-navigation,.sidebar-collapsed .drop-navigation{display:none;}
    .sidebar_top div,.top-menu .icons{display:none !important;}
    .sidebar_top h1,.success-text{display:block !important;}
    .sidebar-error .t-menu,.sidebar-collapsed  .t-menu{
        float: left;
        font-size: .7em;
        padding-top: 7px;
    }
    .t-img {
        float: right;
    }
    .sidebar h1 a {
        margin-bottom: 0;
    }
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 1em;
    }
    .sidebar-error .main,.sidebar-collapsed .main{
        width: 94.333333%;
        padding: 0 2% 25px 2%;
        margin-left: 3%;
    }
    .hide1{display:none;}
    .show{display:block;}
}

@media(max-width:640px){
    .sidebar h1 a {
        margin-bottom: 0;
    }
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 1em;
    }
}

@media(max-width:480px){
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 39%;
        font-size: 0.8em;
    }
}

@media(max-width:375px){
    .sidebar h1 a {
        width: 42%;
    }
}

@media(max-width:320px){
    .sidebar h1 a {
        margin: 0.5em auto;
        text-align: center;
        display: block;
        width: 50%;
    }
}