<el-form  label-width="93px" :rules="rules" ref="ruleForm" >
			  <el-form-item label="子节点名称" prop="name">
				<el-input v-model="ruleForm.name"></el-input>
			  </el-form-item>
			  <el-form-item label="类型" prop="type">
				<el-select  placeholder="请选择类型" v-model="ruleForm.type">
				  <el-option label="区域一" value="shanghai"></el-option>
				  <el-option label="区域二" value="beijing"></el-option>
				</el-select>
			  </el-form-item>
			  <el-form-item label="顺序" prop="orders">
				<el-input v-model="ruleForm.orders"></el-input>
			  </el-form-item>
			  <el-form-item label="描述" prop="desc">
				<el-input type="textarea" v-model="ruleForm.desc"></el-input>
			  </el-form-item>
			  <el-form-item>
				<el-button type="primary" @click="onSubmit('ruleForm')">保存</el-button>
				<el-button>重置</el-button>
			  </el-form-item>
	</el-form>